.not h3 {
    font-family: var(--ffPrimary);
    font-size: 4rem;
    font-weight: 400;
    color: #74d8c2;
    font-weight: 700;
    padding: 6rem 0rem;
    width: 45rem;
}

.not h5 {
    font-family: var(--ffPrimary);
    font-size: 2.4rem;
    font-weight: 400;
    color: #74d8c2;
    font-weight: 700;
}

.not p {
    font-family: var(--ffPrimary);
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
}
.not {
    background-color: #1278ab;
}
.not .card i{
    font-size: 5rem;
}
